@charset "UTF-8";

div.content{
    width: 600px; 
    margin: 0 auto;
}
div.content>h1{
    text-align: center;
    color: white;
    background-color: rgb(43, 139, 165);
    padding: 30px 0 30px 0;
    margin-bottom: 0;
}
div>ol{
	margin:0;
	background-color : rgb(187, 209, 220);
}
div.bu{
	text-align: center;
	padding-top:20px;
}