@charset "UTF-8";
div.content{
    width: 1200px; 
    margin: 0 auto;
}
div.content>h1{
    text-align: center;
    color: white;
    background-color: rgb(43, 139, 165);
    padding: 30px 0 30px 0;
    margin-bottom: 0;
}
table{
    width: 1200px;
    border: 1px solid rgb(60, 144, 81);
    border-collapse: collapse; /*칸과 칸사이여백 제거*/
}
tr, td, th{
    border: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
}
th{
    width: 200px;
    background-color: rgb(177, 220, 220); color: aliceblue;
}
td{
    padding-left: 10px;
    text-align: center;
}
div.content>td>add{
	width : 200px;
}

div.main{
	padding-top:30px;
}